<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 12px;">
  <ul class="navbar-nav">
    <li>
      <a class="navbar-brand nav-link" routerLink="">Home</a>
    </li>
    <li>
      <a  class="nav-link" routerLink="products">Trans Actions</a>
    </li>
    <li>
      <a (click)="onHandleAddToWallet()" class="nav-link" routerLink="products">Add to my wallet</a>
    </li>
  </ul>
    <div class="navbar-nav navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li>
            <a (click)="onHandleRegister()" class="nav-link" routerLink="profile">Register</a>
          </li>
          <li>
            <a  (click)="onHandleLogin()" class="nav-link" routerLink="login">Login</a>
          </li>
        </ul>
    </div>
</nav>
