
<div *ngFor="let item of productId">
  <div class="container" style="margin-top: 15px;">
    <div class="card-groups " style="display: flex;">

      <div class="card" style="width: 23rem; height: auto; margin: 7px;padding: 5px;" >
        <img src=" {{item.img1}} " alt=" {{item.alt}} ">
      </div>

      <div class="card" style="width: 23rem; height: auto; margin: 7px;padding: 5px;" >
        <img src=" {{item.img2}} " alt=" {{item.alt}} ">
      </div>

      <div class="card" style="width: 23rem; height: auto; margin: 7px;padding: 5px;" >
        <img src=" {{item.img3}} " alt=" {{item.alt}} ">
      </div>

      <div class="card" style="width: 23rem; height: auto; margin: 7px;padding: 5px;" >
        <img src=" {{item.img4}} " alt=" {{item.alt}} ">
      </div>

    </div>
  </div>

  <div class="container border border-danger" style="padding: 10px;">

    <h3 class="card-title text-info"> {{item.price}} </h3>

    <h4>Brand : <span style="color: red;"> {{item.brand}} </span></h4>

    <h5>Product Description :</h5>
    <p>{{item.ProductDescription}}</p>

    <h5>Model Sizes :</h5>
    <p> <span style="margin: 8px;">Chest : {{item.Chest}}</span> <span style="margin: 8px;">Hip : {{item.Hip}}</span> </p>
    <p> <span style="margin: 8px;">Waist : {{item.Waist}}</span> <span style="margin: 8px;">Length : {{item.Length}}</span> </p>

  </div>
</div>

